[submodule "apriltag"]
	path = apriltag
	url = https://github.com/tgRobotics/apriltag.git
	branch = fixPullRequestLibraryName
[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "AprilTagTrackers/Kinect2Exposure"]
	path = AprilTagTrackers/Kinect2Exposure
	url = https://github.com/saulthu/Kinect2Exposure
